<div name="error" style="text-align: center; margin-top: 10%;">
<!--<img height="200px" width="auto" src="http://coachmikeblogs.com/wp-content/uploads/2016/03/kid-ice-cream-crying.jpg"> -->
<h4>Houston, we've got a problem</h4>
<p><b>Seems like API server is down.</b></p>
<p>If the address has changed, please reconfigure it in <a href="/settings">API & settings</a> section.</p>
</div>
