[Unit]
Description=I-Tee Virtualbox API Service

[Service]
ExecStart=/usr/local/nvm/versions/node/v8.4.0/bin/babel-node /etc/i-tee-virtualbox/index.js /opt/i-tee-virtualbox/config.json

# Required on some systems
WorkingDirectory=/opt/i-tee-virtualbox
Restart=always
RestartSec=10

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=i-tee-virtualbox

User=vbox

Environment=PATH=/usr/local/nvm/versions/node/v8.4.0/bin/:/usr/bin
